body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: sticky;
    background: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#webName{
   font-size: 20px;
    font-weight: bold;
}

.boxes{
    width: 250px;
    max-width: 90vw;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    position: relative;   
    border:2px gray;
    box-shadow:0 1px 2px 1px gray; 
}
.boxes:hover{
    box-shadow:0 3px 6px 3px gray; 
}



.main{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10vh;
    /* flex-direction: row; */
    flex-wrap: wrap;

}
.mode{
    position: absolute;
    top: 15px;
    right: 10px;
    display: inline-block;
    padding: 6px 14px;
    white-space: nowrap;
    background-color: rgb(43, 193, 66);
    color: white;
    border-radius: 30px;
    font-size: 0.9rem;
}


#off{
    background-color: red;
}

.avatar{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.name{   
    font-size:2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black solid 4px;
    text-align: center;
    align-items: center;
    margin: 10px;
  
}
.job{   
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    margin: 5px;
      /* padding-top: 3px;   */
}
.work{ 
   
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    align-items: center;
    margin: 15px;
    border: 2px gray solid;
    border-style: dashed;
   
}

.viewProfile{
    padding: 6px 14px;
    white-space: nowrap;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 0.9rem;
    display: block;
    margin: auto;

}